.full-width{
    width: 100%;
}

table{
    width: 100%;
}
  
  @media (max-width: 768px) {
    mat-grid-list {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  
    mat-grid-tile {
      margin: 10px 0 !important;
    }
  
    mat-form-field {
      width: 100% !important;
      margin: 0 !important;
    }
  
    button {
      width: 100% !important;
    }
  
    h1 {
      margin-left: 10px !important;
    }
  
    mat-card {
      margin: 10px !important;
    }
  }
/* Media Query para pantallas de hasta 480px */
@media (max-width: 480px) {
    mat-grid-list {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  
    mat-grid-tile {
      margin: 5px 0 !important;
    }
  
    mat-form-field {
      width: 100% !important;
      margin: 0 !important;
    }
  
    button {
      width: 50% !important;
      line-height: normal !important;
    }

    button span {
        font-size: 0.7em !important;
        
    }
  
    h1 {
      font-size: 1.5em !important;
      margin-left: 5px !important;
    }
  
    mat-card {
      margin: 5px !important;
    }
  }
  